.search-container{
    display: grid;
    height: auto;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
    grid-gap: 5vh;
}
.search-card{
    color: black;
    font-weight: 600;
    border: 3px solid #51c585;
    padding-bottom: 1rem;
    margin: 0;
}
.search-card-element{
    margin-top: 2%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.search-card-element:nth-child(1){
    margin-bottom: 2rem;
}
.search-bar{
    width: 90%;
    margin: auto;
    /* margin-left: 20%; */
}

.forms {
    flex-wrap: wrap;
}

@media screen and (max-width: 870px) {
    .search-container {
    grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
        
    }
}

@media screen and (max-width: 620px) {
    .search-container {
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
        
    }
}

@media screen and (max-width: 430px) {
    .search-container {
    grid-template-columns: minmax(0,1fr);
        
    }
}

